<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <style>
        /* @import url(../node_modules/bootstrap/dist/css/bootstrap.css); */
        /* @import url(../node_modules/fontawesome-free-6.6.0-web/css/fontawesome.min.css); */

        @import url(../public/CSS/reast.css);
        @import url(../public/CSS/animation.css);
        @import url(../public/CSS/all.css);
    </style>
</head>

<body>

    <div class="Navbar GameNav w-100" style="padding: 0px 93px; position :fixed">
        <div class="d-flex GameNavL align-items-center" style="background-color: #DA392B;  border-radius: 0 0 9px 9px;">
            <a style="
                            text-decoration: none;
                            color: #fff;
                            padding: 18px 22px;
                            font-size: 1.2rem;
                            font-weight: 800;" href="../index.html">
                Tripo Games
            </a>
        </div>
        <div style="margin-left: auto;" class="nav GameNavR justify-content-end">
            <nav>
                <ul class="d-flex GameNavR__list">
                    <li class="GameNavR__item "><a href="../index.html">Home</a></li>

                    <li class="GameNavR__item GameNavR__item--active GameNavR__item--Dropdowns"
                        style="font-size: 1.1rem; ">
                        <a style="cursor: default;" href="#">Game</a>
                        <ul class="GameNavR__itemUL">
                            <li class="GameNavR__itemUL__li"><a href="./Games_Kipon.html">Kipon</a></li>
                            <li class="GameNavR__itemUL__li"><a href="./Games_Robotrix.html">Robotrix</a></li>
                            <li class="GameNavR__itemUL__li"><a href="./Games_TreasureBox.html">Treasure Box</a></li>
                        </ul>
                    </li>
                    <li class="GameNavR__item"><a href="./Careers.html">Careers</a></li>
                    <li class="GameNavR__item"><a href="./About.html">About</a></li>
                    <li class="GameNavR__item"><a href="../index.html#JoinTeam_form">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <div style="padding-top: 272px;">
        <div class="Games_banner_Robotrix">

            <div class="Game_content1">
                <div class="fade-in-left Game_content2">
                    <div class="d-flex align-items-center mb-5">
                        <div class="Game_contentIMG"><img src="../public/IMG/shutterstock_1711821976.jpg" alt=""></div>
                        <div style="margin-left: 20px;">
                            <h6 class="text_color1" style="font-size: 1.2rem; font-weight: 800;padding-bottom: 6px;">
                                Robotrix
                            </h6>
                            <small class="text_color1" style="font-size: 1rem; font-weight: 400;">RPG - Free

                            </small>
                        </div>
                    </div>
                    <div class="Game_contentTXT">
                        <h1 class="text_color1"
                            style="font-size: 3rem; font-weight: 800; line-height: 1.3;padding-bottom: 19px;">Enjoy
                            Tactical Combat and Secrets to Find With Robotrix.</h1>
                        <p class="text_color1" style="font-size: 1.1rem; font-weight: 500; line-height: 1.4;">I'm a
                            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
                            Text” or double click me to add your own content and make changes to the font. I’m a great
                            place for you to tell a story and let your users know a little more about you.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="Game_main" style="padding:100px 0;">
        <div class="container">
            <div class="row">
                <div>
                    <div>
                        <h3 class="text_color1" style="margin-bottom: 80px; font-size: 1.9rem;font-weight: 800;">
                            Screenshots
                        </h3>
                    </div>
                    <div class="d-flex ">
                        <div class="w-50 Game_mainIMG " style="margin-right: 63px;">
                            <a href="#">
                                <img src="../public/IMG/c837a6_95068cdc344b47c4a49a628164390317~mv2.webp" alt="">
                            </a>
                        </div>
                        <div class="w-50 Game_mainIMG ">
                            <a href="#">
                                <img src="../public/IMG/c837a6_01338ce91c6f4716806490b17b01db9a~mv2.webp" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="Game_reviews">
                    <div class="d-flex align-items-center" style="margin:80px 0;">
                        <div class="Game_reviewsLOGO d-flex justify-content-center align-items-center">
                            <div class="reviewsLOGO1 d-flex flex-row align-items-center">
                                <div style="margin: 0 10px; ">
                                    <i class="fa-solid fa-star" style="font-size: 0.95rem; color: #fff;"></i>
                                </div>
                                <div class="reviewsLOGO2 flex-grow-1 text-center">
                                    <p class="text_color1" style="font-size: 0.97rem;font-weight: 500;">4.2 Rating</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2 class="text_color1" style="font-size: 3rem; font-weight: 800;">Reviews</h2>
                        </div>
                    </div>
                    <div class="Game_reviewsTXT d-flex">
                        <div class="Game_reviewsBox" style="border-right: 1px solid #272443;">
                            <p class="text_color1"
                                style="font-size: 1rem; font-weight: 500; line-height: 1.5;margin-bottom: 16px;">

                                “I'm a testimonial. Click to edit me and add text that says something nice about you and
                                your services.”
                            </p>
                            <h4 class="text_color1" style="font-size: 1.2rem; font-weight: 800;">
                                Omar Zaine
                            </h4>
                        </div>
                        <div class="Game_reviewsBox" style="border-right: 1px solid #272443;">
                            <p class="text_color1"
                                style="font-size: 1rem; font-weight: 500; line-height: 1.5;margin-bottom: 16px;">
                                “I'm a testimonial. Click to edit me and add text that says something nice about you and
                                your services. Let your customers review you and tell their friends how great you are.”
                            </p>
                            <h4 class="text_color1" style="font-size: 1.2rem; font-weight: 800;">
                                Jay Jay
                            </h4>
                        </div>
                        <div class="Game_reviewsBox">
                            <p class="text_color1"
                                style="font-size: 1rem; font-weight: 500; line-height: 1.5;margin-bottom: 16px;">


                                “I'm a testimonial. Click to edit me and add text that says something nice about you and
                                your services.”
                            </p>
                            <h4 class="text_color1" style="font-size: 1.2rem; font-weight: 800;">
                                Danni Lopez
                            </h4>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="Challenge d-flex justify-content-center align-items-center">
        <div class="ChallengeBG_Robotrix">
        </div>
        <div class="Challenge__content text-center">
            <h1 class="fade-in-element">Open-world playability wherever you are</h1>
            <p class="fade-in-element">I'm a
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                double click me to add your own content and make changes to the font. I’m a great place for you to tell
                a story and let your users know a little more about you.</p>
        </div>

    </div>



    <div class="footer">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center align-items-center" style="padding: 20px 0;">
                <div class="fade-in-element playNow d-flex flex-column justify-content-center align-items-center">
                    <div style="margin-bottom: 27px;">
                        <h1>Play Now</h1>
                    </div>
                    <div class="d-flex" style="margin-bottom: 27px;">
                        <div style="margin-right: 15px;"><a href="#"><img src="../public/IMG/apple.png" alt=""></a>
                        </div>
                        <div><a href="#"><img src="../public/IMG/Google (1).png" alt=""></a></div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-4">
                    <div class="d-flex GameNavL align-items-center"
                        style="width:166px;background-color: #DA392B;  border-radius: 0 0 9px 9px;">
                        <a style="
                                        text-decoration: none;
                                        color: #fff;
                                        padding: 18px 22px;
                                        font-size: 1.2rem;
                                        font-weight: 800;" href="../index.html">
                            Tripo Games
                        </a>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <h6 style="font-size: 1.4rem;font-weight: 500;">An Immersive Gaming Experience</h6>
                </div>
                <div class="footerl__line">
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-between " style="padding: 0 160px;">
                        <div class="footer__ul">
                            <h6 class="text_color1">Contact</h6>
                            <a href="#">Info@mysite.com</a>
                            <p>Tel: 123-456-7890</p>
                            <p>500 Terry Francine St</p>
                            <p>San Francisco, CA 94158</p>

                        </div>
                        <div class="footer__ul">
                            <h6 class="text_color1">Navigation</h6>
                            <a href="#">Games</a>
                            <a href="#">Careers</a>
                            <a href="#">About</a>
                            <a href="#">Contact</a>
                            <a href="#">Accessibility</a>
                            <a href="#">Terms & Conditions</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Shipping Policy</a>
                            <a href="#">Refund Policy</a>
                        </div>
                        <div class="footer__ul">
                            <h6 class="text_color1">Social</h6>
                            <a href="#">Discord</a>
                            <a href="#">Twitch</a>
                            <a href="#">Facebook</a>
                            <a href="#">YouTube</a>
                            <a href="#">Twitter</a>
                            <a href="#">LinkedIn</a>
                        </div>
                        <div class="footer__ul">
                            <h6 class="text_color1">Find Us On</h6>
                            <a class="d-block p-0" href="#">
                                <img src="../public/IMG/Google (1).png" alt="">
                            </a>
                            <a class="d-block p-0" href="#">
                                <img src="../public/IMG/apple.png" alt="">
                            </a>
                        </div>
                    </div>


                </div>
                <div class="col-12">

                </div>
            </div>
        </div>
    </div>
    <!-- <script src="../public/JS/TripoGames.js"></script> -->
    <script src="../public/JS/Navbar.js"></script>
    <script src="../public/JS/animation.js"></script>
    <!-- <script src="../node_modules/fontawesome-free-6.6.0-web/js/all.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"></script>
</body>

</html>